*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #d0b682;
    --bg: #E8EDF0;
    --surface: #425363;
    --text: #8FA8AE;
    --text-dark: #425363;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300; /* это Light */
    letter-spacing: 0.3px;
    background: var(--bg);
    color: var(--text);
    line-height: 1.6;
    overflow-x: hidden;
}

/* BACKGROUND */

.background {
    position: fixed;
    inset: 0;
    z-index: -2;
    background:
        radial-gradient(circle at 20% 80%, rgba(255, 255, 255, 0.4), transparent 50%),
        radial-gradient(circle at 80% 20%, rgba(255, 255, 255, 0.1), transparent 50%);
}

.background-overlay {
    position: fixed;
    inset: 0;
    z-index: -1;
    background: url("sound.png") center/cover no-repeat;
    opacity: 0.25;
}

/* LAYOUT */

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.logo {
    font-size: 2rem;
}


.nav {
    display: flex;
    font-family: 'Oranienbaum', serif !important;
    gap: 3rem;
    
}

.nav-link {
    text-decoration: none;
    font-family: 'Oranienbaum', serif !important;
    color: var(--text-dark);
}

.nav-link:hover {
    color: var(--primary);
}

/* HERO */

.hero {
    text-align: center;
    padding: 7rem 0 4rem;
}

.hero-title {
    text-align: left;
    line-height: 1.1; 
}

.title-role {
    font-family: 'Oranienbaum', serif;
    font-size: 2.5rem;
    color: var(--text-dark);

}

.title-name {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: clamp(2.8rem, 5vw, 4rem);
    color: var(--primary);
    letter-spacing: 1px;
}


.gradient-text {
    color: var(--primary);
    background: none;
}



.hero-subtitle {
    max-width: 1000px;
    margin: 5rem 0 3rem 0; /* Убрали auto, сделали отступ только снизу */
    color: var(--text-dark);
    text-align: left; /* Выравнивание текста по левому краю */
    align-self: flex-start; /* Если hero - flex-контейнер */
}


.cta-button {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 50px;
    border: 2px solid var(--primary);
    color: white;
    background: rgba(169,1,1,0.5);
    text-decoration: none;
}

.cta-button:hover {
    background: var(--primary);
}

/* SECTIONS */

.about {
    padding: 5rem 0;
    text-align: center;
}

.about h2 {
    font-size: 2.5rem;
    font-family: 'Oranienbaum', serif !important;
    color: var(--primary);
    margin-bottom: 2rem;
}

.about-text {
    max-width: 600px;
    margin: auto;
    color: var(--text-dark);
}

/* TAGS */

.skills {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-tag {
    padding: .5rem 1rem;
    border-radius: 20px;
    border: 1px solid var(--surface);
    color: var(--surface);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); /* Для Safari */
}

.music-blocks {
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
}

.music-card {
    padding: .5rem 2rem 1.5rem 2rem;
    border-radius: 20px;
    border: 1px solid var(--surface);
    color: var(--surface);
    text-align: left;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); /* Для Safari */
    
}

.music-card h3 {
    margin: 1rem 0 1rem 0;
    font-size: 1.5rem;
    font-family: 'Oranienbaum', serif !important;
    color: var(--text-dark);
    text-align: center;
}
/* PORTFOLIO */

.music-card p::before {
    content: "•";
    font-size: 1.2rem;
    position: absolute;
    left: 10px;
    color: var(--text-dark);
}

.featured-projects {
    padding: 4rem 0;
}

.featured-projects h2{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Oranienbaum', serif !important;
    color: var(--primary);
    margin-bottom: 2rem;
}

.projects-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
}

.project-card {
    background: var(--surface);
    padding: 1.5rem;
    border-radius: 15px;
}

.project-card h3 {
    font-family: 'Dela Gothic One', serif !important;
    color: white;
}

.project-image {
    height: 150px;
    border-radius: 10px;
    margin-bottom: 1rem;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

/* IMAGES */

.img-cinema {
    background:
    linear-gradient( #8FA8AE,#8FA8AE),
    url("kino.jpg") center/cover;
}

.img-extreme {
    background:
    linear-gradient( #8FA8AE,#8FA8AE),
    url("MTB.jpg") center/cover;
}

.img-japan {
    background:
    linear-gradient( #8FA8AE,#8FA8AE),
    url("japan.jpg") center/cover;
}

.img-orchestra {
    background:
    linear-gradient( #8FA8AE,#8FA8AE),
    url("symphony.jpg") center/cover;
}

.img-rock {
    background:
    linear-gradient( #8FA8AE,#8FA8AE),
    url("rock.jpg") center/cover;
}

.img-game {
    background:
    linear-gradient( #8FA8AE,#8FA8AE),
    url("game.jpg") center/cover;
}

/* BUTTON */

.play-button {
    margin-top: .5rem;
    padding: .5rem 1rem;
    border-radius: 20px;
    border: none;
    color: var(--text-dark);
    background: var(--primary);
    cursor: pointer;
}

.play-button:hover {
    transform: scale(1.05);
}

/* FOOTER */

.footer {
    text-align: center;
    padding: 3rem 0;
    color: var(--text-dark);
}

/* MOBILE */

@media (max-width:768px){
    .hero { padding: 4rem 0; }
    .nav { gap: 1rem; }
}
